<!DOCTYPE html>

<html>
  <head>
    <title>AMA March Countdown Card</title>
    {{{styles}}}
    <script src="//use.typekit.net/lni3vve.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>
  <body class="{{#if card_class}}{{card_class}}{{else}}variant_a{{/if}}">

    <!-- Card Variant A -->
    <div class="card variant_a" style="background-image: url('http://action.fixmedicarenow.org.s3.amazonaws.com/states/CA/CA-1.jpg');">
      <div class="card-content">
        <div class="legislator-photo">
          <img src="{{#if target.photo}}{{target.photo}}{{else}}{{base_url}}/img/default-signer.png{{/if}}">
        </div>
        <div class="mar-31-a"></div>
        <div class="salutation">Rep. {{target.last}},</div>
        <div class="main-text">
          <div class="text-line one">The deadline is looming (again). We only have</div>
          <div class="inline-countdown">12 days, 15 hours, and 35 mins</div>
          <div class="text-line two">left until March 31st. It's time to repeal Medicare's SGR formula and put patient care first.</div>
        </div>
        <div class="signature">
          <div class="signature-inner">
            <div class="signer-photo">
              <div class="signer-photo-wrapper">
                <img src="{{#if avatar}}{{avatar}}{{else}}{{base_url}}/img/default-signer.png{{/if}}">
              </div>
            </div>
            <div class="signer-info">
              <div class="name">{{first}} {{last}}</div>
              <div class="hometown">{{#if city}}{{city}}{{/if}}{{#if state}}, {{state}}{{/if}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="background-elements">
        <div class="ama-logo"></div>
        <div class="light-border top">
          <div class="light-border-inner"></div>
        </div>
        <div class="light-border bottom">
          <div class="light-border-circle"></div>
          <div class="light-border-inner"></div>
        </div>
      </div>
      <div class="background-gradient"></div>
      <div class="background-base"></div>
    </div>

    <!-- Card Variant B -->
    <div class="card variant_b" style="background-image: url('http://action.fixmedicarenow.org.s3.amazonaws.com/states/CA/CA-1.jpg');">
      <div class="card-content">
        <div class="mar-31-b"></div>
        <div class="intro">
          <div class="legislator-photo">
            <div class="legislator-photo-wrapper">
              <img src="{{#if target.photo}}{{target.photo}}{{else}}{{base_url}}/img/default-signer.png{{/if}}">
            </div>
          </div>
          <div class="intro-text">
            <div class="salutation">Rep. {{target.last}},</div>
            <p>Here in Antelope Valley, we're counting down to the minute for real reform. Right now there are only...</p>
          </div>
        </div>
        <div class="clock-countdown">
          <div class="count">
            <div class="numbers">
              <div class="number"><span class="number-inner">1</span></div>
              <div class="number"><span class="number-inner">2</span></div>
            </div>
            <div class="label">Days</div>
          </div>
          <div class="colon">:</div>
          <div class="count">
            <div class="numbers">
              <div class="number"><span class="number-inner">1</span></div>
              <div class="number"><span class="number-inner">5</span></div>
            </div>
            <div class="label">Hours</div>
          </div>
          <div class="colon">:</div>
          <div class="count">
            <div class="numbers">
              <div class="number"><span class="number-inner">3</span></div>
              <div class="number"><span class="number-inner">5</span></div>
            </div>
            <div class="label">Minutes</div>
          </div>
        </div>
        <div class="outro">
          <p>...left to repeal Medicare's SGR formula and put patient care first.</p>
        </div>
        <div class="signature">
          <div class="signature-inner">
            <div class="signer-photo">
              <div class="signer-photo-wrapper">
                <img src="{{#if avatar}}{{avatar}}{{else}}{{base_url}}/img/default-signer.png{{/if}}">
              </div>
            </div>
            <div class="signer-info">
              <div class="name">{{first}} {{last}}</div>
              <div class="hometown">{{#if city}}{{city}}{{/if}}{{#if state}}, {{state}}{{/if}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="background-elements">
        <div class="ama-logo"></div>
        <div class="dark-overlays"></div>
        <div class="background-base"></div>
      </div>
    </div>

    <!-- Card Variant C -->
    <div class="card variant_c" style="background-image: url('http://action.fixmedicarenow.org.s3.amazonaws.com/states/CA/CA-1.jpg');">
      <div class="card-content">
        <div class="legislator-photo">
          <div class="legislator-photo-wrapper">
            <img src="{{#if target.photo}}{{target.photo}}{{else}}{{base_url}}/img/default-signer.png{{/if}}">
          </div>
        </div>
        <div class="mar-31-c"></div>
        <div class="header-countdown">
          <div class="header-countdown-wrapper">
            <div class="counter-label">Deadline Countdown</div>
            <div class="arrow"><img src="{{base_url}}/img/arrow.png"></div>
            <div class="header-count">
              <div class="header-number">12</div>
              <div class="header-label">Days</div>
            </div>
            <div class="header-count">
              <div class="header-number">15</div>
              <div class="header-label">Hours</div>
            </div>
            <div class="header-count">
              <div class="header-number">35</div>
              <div class="header-label">Minutes</div>
            </div>
          </div>
        </div>
        <div class="main-text">
          <div class="salutation">Rep. {{target.last}},</div>
          <p>The deadline is looming (again). It's time to repeal Medicare's SGR formula and put patient care first.</p>
        </div>
        <div class="signature">
          <div class="signature-inner">
            <div class="signer-photo">
              <div class="signer-photo-wrapper">
                <img src="{{#if avatar}}{{avatar}}{{else}}{{base_url}}/img/default-signer.png{{/if}}">
              </div>
            </div>
            <div class="signer-info">
              <div class="name">{{first}} {{last}}</div>
              <div class="hometown">{{#if city}}{{city}}{{/if}}{{#if state}}, {{state}}{{/if}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="background-elements">
        <div class="ama-logo"></div>
        <div class="red-overlays"></div>
        <div class="background-base"></div>
      </div>
    </div>

    {{{scripts}}}
  </body>
</html>