<!DOCTYPE html>

<html>
  <head>
    <title>AMA March Countdown Card</title>
    {{{styles}}}
    <script src="//use.typekit.net/lni3vve.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>
  <body class="{{#if card_class}}{{card_class}}{{else}}variant_a{{/if}}{{#if avatar}} avatar{{else}} no-avatar{{/if}}">

    <!-- Card Variant A -->
    <div class="card variant_a">
      <div class="card-content">
        <div class="legislator-photo" style="background: url('{{#if target.photo}}{{target.photo}}{{else}}{{base_url}}/img/default-signer.png{{/if}}') no-repeat center center; background-size: cover;">
          {{!-- <img src="{{#if target.photo}}{{target.photo}}{{else}}{{base_url}}/img/default-signer.png{{/if}}"> --}}
        </div>
        <div class="mar-31-a"></div>
        <div class="salutation">{{target.title_short}} {{target.last}},</div>
        <div class="main-text">
          <div class="text-line one">The deadline is looming (again). We only have</div>
          {{!-- <div class="inline-countdown">
            <span data-days></span> days, <span data-hours></span> hours, and <span data-mins></span> mins
          </div> --}}
          <div class="clock-countdown">
            <div class="count">
              <div class="numbers">
                <div class="number"><span class="number-inner" data-days-tens></span></div>
                <div class="number"><span class="number-inner" data-days-ones></span></div>
              </div>
              <div class="label">Days</div>
            </div>
            <div class="colon">:</div>
            <div class="count">
              <div class="numbers">
                <div class="number"><span class="number-inner" data-hours-tens></span></div>
                <div class="number"><span class="number-inner" data-hours-ones></span></div>
              </div>
              <div class="label">Hours</div>
            </div>
            <div class="colon">:</div>
            <div class="count">
              <div class="numbers">
                <div class="number"><span class="number-inner" data-mins-tens></span></div>
                <div class="number"><span class="number-inner" data-mins-ones></span></div>
              </div>
              <div class="label">Minutes</div>
            </div>
          </div>
          <div class="text-line two">left to fix Medicare. <strong class="emphasis"><span class="yes">PASS</span> H.R. 2.</strong></div>
        </div>
        <div class="signature">
          <div class="signature-inner">
            <div class="signer-photo">
              <div class="signer-photo-wrapper" style="background: url('{{#if avatar}}{{avatar}}{{else}}{{base_url}}/img/default-signer.png{{/if}}') no-repeat center center; background-size: cover;">
                {{!-- <img src="{{#if avatar}}{{avatar}}{{else}}{{base_url}}/img/default-signer.png{{/if}}"> --}}
              </div>
            </div>
            <div class="signer-info">
              <div class="name">{{first}} {{last}}</div>
              <div class="hometown">{{#if city}}{{city}}{{/if}}{{#if state}}, {{state}}{{/if}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="background-elements">
        <div class="ama-logo"></div>
        <div class="light-border top">
          <div class="light-border-inner"></div>
        </div>
        <div class="light-border bottom">
          <div class="light-border-circle"></div>
          <div class="light-border-inner"></div>
        </div>
      </div>
      <div class="background-gradient"></div>
      <div class="background-base"></div>
    </div>

    <!-- Card Variant B -->
    <div class="card variant_b">
      <div class="card-content">
        <div class="mar-31-b"></div>
        <div class="intro">
          <div class="legislator-photo">
            <div class="legislator-photo-wrapper" style="background: url('{{#if target.photo}}{{target.photo}}{{else}}{{base_url}}/img/default-signer.png{{/if}}') no-repeat center center; background-size: cover;">
              {{!-- <img src="{{#if target.photo}}{{target.photo}}{{else}}{{base_url}}/img/default-signer.png{{/if}}"> --}}
            </div>
          </div>
          <div class="intro-text">
            <div class="salutation">{{target.title_short}} {{target.last}},</div>
            <p>I'm counting down the time we have left to fix Medicare.</p>
          </div>
        </div>
        <div class="clock-countdown">
          <div class="count">
            <div class="numbers">
              <div class="number"><span class="number-inner" data-days-tens></span></div>
              <div class="number"><span class="number-inner" data-days-ones></span></div>
            </div>
            <div class="label">Days</div>
          </div>
          <div class="colon">:</div>
          <div class="count">
            <div class="numbers">
              <div class="number"><span class="number-inner" data-hours-tens></span></div>
              <div class="number"><span class="number-inner" data-hours-ones></span></div>
            </div>
            <div class="label">Hours</div>
          </div>
          <div class="colon">:</div>
          <div class="count">
            <div class="numbers">
              <div class="number"><span class="number-inner" data-mins-tens></span></div>
              <div class="number"><span class="number-inner" data-mins-ones></span></div>
            </div>
            <div class="label">Minutes</div>
          </div>
        </div>
        <div class="outro">
          <p><strong class="emphasis"><span class="yes">PASS</span> H.R. 2</strong> and put patient care first.</p>
        </div>
        <div class="signature">
          <div class="signature-inner">
            <div class="signer-photo">
              <div class="signer-photo-wrapper" style="background: url('{{#if avatar}}{{avatar}}{{else}}{{base_url}}/img/default-signer.png{{/if}}') no-repeat center center; background-size: cover;">
                {{!-- <img src="{{#if avatar}}{{avatar}}{{else}}{{base_url}}/img/default-signer.png{{/if}}"> --}}
              </div>
            </div>
            <div class="signer-info">
              <div class="name">{{first}} {{last}}</div>
              <div class="hometown">{{#if city}}{{city}}{{/if}}{{#if state}}, {{state}}{{/if}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="background-elements">
        <div class="ama-logo"></div>
        <div class="dark-overlays"></div>
        <div class="background-base"></div>
      </div>
    </div>

    <!-- Card Variant C -->
    <div class="card variant_c">
      <div class="card-content">
        <div class="legislator-photo" style="background: url('{{#if target.photo}}{{target.photo}}{{else}}{{base_url}}/img/default-signer.png{{/if}}') no-repeat center center; background-size: cover;">
            {{!-- <img src="{{#if target.photo}}{{target.photo}}{{else}}{{base_url}}/img/default-signer.png{{/if}}"> --}}
        </div>
        <div class="mar-31-c"></div>
        <div class="header-countdown">
          <div class="header-countdown-wrapper">
            <div class="counter-label">Deadline Countdown</div>
            <div class="arrow"><img src="{{base_url}}/img/arrow.png"></div>
            <div class="header-count">
              <div class="header-number" data-days></div>
              <div class="header-label">Days</div>
            </div>
            <div class="header-count">
              <div class="header-number" data-hours></div>
              <div class="header-label">Hours</div>
            </div>
            <div class="header-count">
              <div class="header-number" data-mins></div>
              <div class="header-label">Minutes</div>
            </div>
          </div>
        </div>
        <div class="main-text">
          <div class="salutation">{{target.title_short}} {{target.last}},</div>
          <p>The deadline is looming (again)...it's time to repeal Medicare's SGR formula. <strong class="emphasis"><span class="yes">PASS</span> H.R. 2!</strong></p>
        </div>
        <div class="signature">
          <div class="signature-inner">
            <div class="signer-photo">
              <div class="signer-photo-wrapper" style="background: url('{{#if avatar}}{{avatar}}{{else}}{{base_url}}/img/default-signer.png{{/if}}') no-repeat center center; background-size: cover;">
                {{!-- <img src="{{#if avatar}}{{avatar}}{{else}}{{base_url}}/img/default-signer.png{{/if}}"> --}}
              </div>
            </div>
            <div class="signer-info">
              <div class="name">{{first}} {{last}}</div>
              <div class="hometown">{{#if city}}{{city}}{{/if}}{{#if state}}, {{state}}{{/if}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="background-elements">
        <div class="ama-logo"></div>
        <div class="red-overlays"></div>
        <div class="background-base"></div>
      </div>
    </div>

    {{{scripts}}}
  </body>
</html>